

/* 
Server by @chrisburton
*/
.Container {
    padding-top: 10%;
    text-align: center;
    position: relative;
}
.MainTitle {
    display: block;
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
}
.MainDescription {
    
    text-align: center;

    padding-block-end: 10%;
}
.MainGraphic {
    position: relative;
}
.Cog {
    width: 10rem;
    height: 10rem;
    fill: #6AAFE6;
    transition: easeInOutQuint();
    animation: CogAnimation 5s infinite;
}
.Spanner {
    position: absolute;
    transform: rotate(20deg);
    top: 10%;
    left: 20%;
    width: 10rem;
    height: 10rem;
    fill: #8EC0E4;
    animation: SpannerAnimation 4s infinite;
}
.Hummingbird {
    position: absolute;
    width: 3rem;
    height: 3rem;
    fill: #30A9DE;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
@keyframes CogAnimation {
    0% {
        transform: rotate(0deg);
   }
    100% {
        transform: rotate(360deg);
   }
}

