.awssld__content{
    opacity: 0;
}



.slider{
    margin: 10px;
    padding: 0;
    position: relative;
    width:800px;
    height:500px;
    border-radius: 10px;

}
.slider img{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    max-width:100%;
    max-height: 100%;
}
.container_slider{
    padding-left: 5%;
    padding-right: 5%;
}
@media screen and (max-width:920px) {
    .slider {
        width:750px;
    height:500px; 
    }
}
@media screen and (max-width:865px) {
    .slider {
        width:650px;
    height:450px; 
    }
}
@media screen and (max-width:752px) {
    .slider {
        width:600px;
    height:450px; 
    }
}
@media screen and (max-width:700px) {
    .slider {
        width:550px;
    height:450px; 
    }
}
@media screen and (max-width: 635px) {
    .slider {
        width:400px;
    height:300px; 
    }
}
@media screen and (max-width: 490px) {
    .slider {
        width:350px;
    height:250px; 
    }
    .carusels{
        height:250px
    }
}
@media screen and (max-width: 470px) {
    .slider {
        width:300px;
    height:200px; 
    }
}