.Padding{

    margin-right: 2%;
}
 .circles {
	 width: 10vmin;
	 height: 10vmin;
	 position: relative;
	 margin-left:900px;
	 perspective: 40000px;
	 color: #2E2F45;
}

@media screen and (max-width: 1300px) {

	.circles {

		margin-left:600px;
	
	}}

@media screen and (max-width: 1110px) {

	.circles {

		margin-left:400px;
	
	}}
	
	@media screen and (max-width: 890px) {

		.circles {
	
			margin-left:200px;
		
		}}
		
		@media screen and (max-width: 700px) {

			.circles {
		
				margin-left:150px;
			
			}}
			@media screen and (max-width: 639px) {
.Container {
	padding-bottom: 10%;
}
				.circles {
			
					margin-left:0px;
				
				}}

 .circles span {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 display: block;
	 width: 18.4%;
	 height: 18.4%;
	 border-radius: 100%;
	 background: currentColor;
}
 .circles div {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 border-left: 2vmin solid;
	 border-top: 2vmin solid transparent;
	 border-radius: 100%;
}
 .circles div:nth-child(1) {
	 animation: anim-1 1s linear infinite;
}
 .circles div:nth-child(2) {
	 animation: anim-2 1s linear infinite;
}
 .circles div:nth-child(3) {
	 animation: anim-3 1s linear infinite;
}
 @keyframes anim-1 {
	 from {
		 transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
	}
	 to {
		 transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
	}
}
 @keyframes anim-2 {
	 from {
		 transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
	}
	 to {
		 transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
	}
}
 @keyframes anim-3 {
	 from {
		 transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
	}
	 to {
		 transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
	}
}


.text-animated{
	width:100%;
	text-align: center;
	font-size: 1.875em;
	font-weight: 800;
	line-height: 1.2;	
	font-family: 'Open Sans', sans-serif;
}
.Text{
	padding-top:4%;
	width:100%;
	text-align: center;
}



.wrapper {
	font-size:20px;
	padding-top:2%;
	/*This part is important for centering*/
	display: grid;
	place-items: center;
  }
  
  .typing-demo {
	width: 26ch;
	animation: typing 5s steps(22), blink .6s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid;
	font-family: monospace;

  }
  
  @keyframes typing {
	from {
	  width: 0
	}
  }
	  
  @keyframes blink {
	50% {
	  border-color: transparent
	}
  }
  
  