
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width:80%;
    margin: auto;
  }
  


  @media screen and (max-width: 920px) {

    .hero {
        margin-top: -4rem;
        flex-direction: column;
        gap: 0;
      }
    
    
    



}
