@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,700&family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap');

.container_about{
        position:relative;
        padding:5%;
        font-family: 'Ubuntu', sans-serif;
        color:#2E2F45;
        font-size:1.5em;
      }


@media screen and (max-width: 875px) {

    .container_about{
    font-size:1em;
    }
    .wrapper{
      font-size:12px;

    }


}



.text_about_us{
  font-size: 24px;
  padding-bottom: 5%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color:#2E2F45;
}

.text_container{
text-align:center;
padding:2%;

}

.Content_container{
  position: relative;
  padding:3%;
}

.about_page{
  opacity: 120%;
  padding-top: 2%;

}

@media screen and (max-width: 510px) {
  .text_container{
  padding-bottom: 10%;
  }
  
}


/*  */
.day-night-label {
  display: grid;
  gap: 1rem;
  place-items: center;
}

.day-night-circle {
  position: relative;
  background: #2a3741;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;

  padding: 0px;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.day-night-circle:hover {
  background: #71423d;
}
.sun {
  margin-top: 20px;
  background: #f2ef88;
  box-shadow: 0 0 20px rgba(242, 239, 136, 0.4);
  width: 30%;
  height: 30%;
  border-radius: 50%;
  position: relative;
  top: 70%;
  left: 20%;
  transition: all 0.5s ease;
}

.day-night-circle:hover .sun {
  left: 35%;
  top: 48%;
  transition: all 0.5s 0s ease;
}
.moon {
  position: absolute;
  margin-top: 20px;
  background: #d9d8d0;
  box-shadow: inset -10px 2px 0 0px #899098;
  width: 22.5%;
  height: 22.5%;
  border-radius: 100%;
  position: relative;
  margin-left: -50px;
  left: 65%;
  top: -10%;
  overflow: hidden;
  transition: all 0.5s 0s ease;
}
.day-night-circle:hover .moon {
  left: 120%;
  top: -50%;
}
.moon div:nth-child(n) {
  position: relative;
  background: #b9b8b0;
  border-radius: 50%;
  box-shadow: inset 4px -2px 0 0px #535457;
}
.moon div:nth-child(1) {
  top: 25%;
  left: 12%;
  width: 27%;
  height: 27%;
}
.moon div:nth-child(2) {
  top: -11%;
  left: 60%;
  width: 16%;
  height: 16%;
}
.moon div:nth-child(3) {
  top: 25%;
  left: 44%;
  width: 16%;
  height: 16%;
}
.stars {
  opacity: 1;
  margin-left: 100px;
  top: 0;
  left: 0;
  transition: all 0.4s ease;
  z-index: 1000;
}
.day-night-circle:hover .stars {
  opacity: 0;
  transition: all 0.4s ease;
}
.stars div:nth-child(n) {
  position: absolute;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 1);
  overflow: hidden;
  width: 0.4%;
  height: 0.4%;
  margin-left: 20%;
  margin-top: -20%;
  transition: all 0.5s ease;
}
.night .stars div:nth-child(n) {
  margin-left: 0;
  margin-top: 0;
  transition: all 1s 0.4s ease-out;
}
.stars div:nth-child(1) {
  left: 25%;
  top: 30%;
}
.stars div:nth-child(2) {
  left: 55%;
  top: 20%;
}
.stars div:nth-child(3) {
  left: 60%;
  top: 60%;
}
.stars div:nth-child(4) {
  left: 40%;
  top: 45%;
}
.stars div:nth-child(5) {
  left: 15%;
  top: 55%;
}
.stars div:nth-child(6) {
  left: 40%;
  top: 10%;
}
.stars div:nth-child(7) {
  left: 80%;
  top: 55%;
}
.water {
  position: absolute;
  background: #7fa1bb;
  width: 100%;
  height: 200px;
  top: 68%;
  transition: all 0.5s ease;
}
.day-night-circle:hover .water {
  background: #71baf2;
}


.text_main_brain{
 text-align: left;
  position:relative;

  font-family: 'Ubuntu', sans-serif;

  text-align: center;
  color:#2E2F45;
  font-size:1.5em;
}

.text_brain{

  text-align: center;
  position:relative;

  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;

  color:#2E2F45;
  font-size:1em;
  padding-bottom: 3%;

}

.paddings{
  padding-bottom: 10%;
}











    .text_before_after {
      color:#2a3741;
      position: relative;
      text-decoration: none;
    }
    
    .text_before_after::before {
      background: rgb(220, 226, 231);
      content: "";
      inset: 0;
      border-radius: 30px;
      position: absolute;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s ease-in-out;
      z-index: -1;
    }
    
    .text_before_after:hover::before {
      transform: scaleX(1);
      transform-origin: left;
    }

    

    

/*  
    .disappear {
      position: absolute;
      left:0;
      right:0;
      margin: auto;
      width:100%;
      text-align: center;
      height:fit-content;
      bottom:0;
      top:0;
    }
    .disappear span {
      display: inline-block;
      color:transparent;
      text-shadow: 0px 0px 0px black;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
    .disappear span:nth-child(1){
      animation-name: disappearleft;
    }
    .disappear span:nth-child(2){
      animation-name: disappearleft;
      animation-delay: .3s;
    }
    .disappear span:nth-child(3){
      animation-name: disappearight;
      animation-delay: .6s;
    }
    .disappear span:nth-child(4){
      animation-name: disappearleft;
      animation-delay: .8s;
    }
    .disappear span:nth-child(5){
      animation-name: disappearight;
      animation-delay: 1s;
    }
    .disappear span:nth-child(6){
      animation-name: disappearight;
      animation-delay: 1.3s;
    }
    .disappear span:nth-child(7){
      animation-name: disappearleft;
      animation-delay: 1.6s;
    }
    .disappear span:nth-child(8){
      animation-name: disappearight;
      animation-delay: 2s;
    }
    .disappear span:nth-child(9){
      animation-name: disappearight;
      animation-delay: 2.3s;
    }
    @keyframes disappearleft{
      50% {transform: skew(50deg) translateY(-200%);
          text-shadow: 0px 0px 50px;
            opacity: 0;
      }
    }
    @keyframes disappearight{
      50% {transform: skew(-50deg) translateY(-200%);
          text-shadow: 0px 0px 50px;
            opacity: 0;
      }
    }
 */


    :root {
      --color-1: #2a3741;
      --color-2: #2a585b;
      --color-3: #112c40;
      --color-4:#2a585b;
      --color-5: #67294c;
    }
.castom_text_design {

  line-height: 1;
  min-height: 100%;
  display: grid;
  place-items: center;
  min-height: calc(100% - 20%);
}

.text_about_pages {
  width:60%;
  
  font-family: "Exo", sans-serif;
  font-size: 4em;
  font-weight: 900;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: auto;
  text-transform: uppercase;
  background: linear-gradient(219deg, 
    var(--color-1) 19%, 
    transparent 19%,transparent 20%, 
    var(--color-2) 20%, var(--color-2)  39%,
    transparent 39%,transparent 40%, 
    var(--color-3) 40%,var(--color-3) 59% ,
    transparent 59%,transparent 60%, 
    var(--color-4) 60%, var(--color-4) 79%,
    transparent 79%, transparent 80%, 
    var(--color-5) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.container_about_text_design {
  padding: 1.5rem;   
  text-align: center;
  background: radial-gradient(circle at 1.4% 1.4% ,var(--color-1) .8%,transparent  .8% ), 
    radial-gradient(circle at 5.5% 3%,var(--color-2) .45% ,transparent .45% ), 
    radial-gradient(circle at 2.5% 3.5%,var(--color-3) .5% ,transparent .5% ), 
    radial-gradient(circle at 4.5% 1.2%,var(--color-4) .25%,transparent .25% ),

    radial-gradient(circle at 98% 98% ,var(--color-1) .8%,transparent  .8% ), 
    radial-gradient(circle at 95% 95%,var(--color-2) .45% ,transparent .45% ), 
    radial-gradient(circle at 94.5% 97.5%,var(--color-3) .5% ,transparent .5% ), 
    radial-gradient(circle at 98.5% 95.5%,var(--color-4) .25%,transparent .25% );


}

@media screen and (max-width: 768px) {
  .text_about_pages {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 525px) {
  .text_about_pages {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 425px) {
  .text_about_pages {
    font-size: 2.5rem;
  }
}